<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name></display-name>
	<!--<context-param>-->
		<!--<param-name>contextConfigLocation</param-name>-->
		<!--<param-value>classpath*:applicationContext.xml</param-value>-->
	<!--</context-param>-->
	<!--<listener>-->
		<!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
	<!--</listener>-->

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</init-param>
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<description>字符集过滤器</description>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description>字符集编码</description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	    <init-param>
	        <param-name>forceEncoding</param-name>
	        <param-value>true</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--<filter>-->
		<!--<filter-name>loginFilterProxy</filter-name>-->
	    <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
	    <!--<init-param>-->
	        <!--<param-name>targetBeanName</param-name>-->
	        <!--<param-value>loginFilter</param-value>-->
	    <!--</init-param>-->
	<!--</filter>-->
	<!--<filter-mapping>-->
		<!--<filter-name>loginFilterProxy</filter-name>-->
		<!--<url-pattern>/wap/cart/*</url-pattern>-->
		<!--<url-pattern>/wap/trade/*</url-pattern>-->
		<!--<url-pattern>/wap/cart.html</url-pattern>-->
		<!--<url-pattern>/cart/*</url-pattern>-->
		<!--<url-pattern>/hyd/cart/*</url-pattern>-->
		<!--<url-pattern>/trade/*</url-pattern>-->
		<!--<url-pattern>/cart.html</url-pattern>-->
		<!--<url-pattern>/wap/i.html</url-pattern>-->
		<!--<url-pattern>/war/seckill.html</url-pattern>-->
		<!--<url-pattern>/wap/user/getUserInfo.html</url-pattern>-->
		<!--<url-pattern>/wap/convenientstore/person.html</url-pattern>-->
		<!--<url-pattern>/wap/user/getUserInviteCode.do</url-pattern>-->
		<!--<url-pattern>/wap/user/signin.json</url-pattern>-->
		<!--<url-pattern>/wap/user/address.html</url-pattern>-->
		<!--<url-pattern>/wap/user/select/address</url-pattern>-->
		<!--<url-pattern>/wap/user/addressAdd.html</url-pattern>-->
		<!--<url-pattern>/wap/user/redList.html</url-pattern>-->
		<!--<url-pattern>/javaApis/user/*</url-pattern>-->
		<!--<url-pattern>/wap/bld/tradeList.html</url-pattern>-->
		<!--<url-pattern>/wap/gift/giftRecharge.html</url-pattern>-->
		<!--<url-pattern>/wap/message/abstract.html</url-pattern>-->
		<!--<url-pattern>/gift/giftRecharge.html</url-pattern>-->
	<!--</filter-mapping>-->

	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>